<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week Advice</title>
</head>
<body>

    <h1>hey it's  <%= dayType %>, <%= advice %></h1>


    <!-- <form action="/day" method="post">
        <label for="Day">Enter The Day:</label>
        <input type="text" name="day">
        <input type="submit" value="Get Advice">
    </form> -->

</body>
</html>